{% extends 'core/base.html' %}
{% comment %} Indicamos la de donde extiende este documento {% endcomment %}

{% block title%} Contacto {% endblock%}


{% comment %} Hacemos referencia al tipo de bloque de contenido al que sera asignado mi contenido {% endcomment %}
{% block content %}
<h1>Contacto </h1>
<p> Aqui dejo mis redes sociales para quien guste contactarme</p>
    <ul>
        <li><a href="/">Email</a></li>
        <li><a href="/about/"> Github </a></li>
        <li><a href="/about/"> Youtube </a></li>
     </ul>
{% endblock %}
