{% extends 'core/base.html' %}
{% comment %} Indicamos la de donde extiende este documento {% endcomment %}

{% block title%} Portafolio {% endblock%}


{% comment %} Hacemos referencia al tipo de bloque de contenido al que sera asignado mi contenido {% endcomment %}
{% block content %}

<h1>Portfolio </h1> 
<p>Aqui dejo mi portafolio Irvin Ignacio Cueto Lopez</p>
    <ul>
        <li><a href="/">Desarrollador Junior </a></li>
        <li><a href="/about/">Certificado en Java</a></li>
     </ul>

{% endblock %}
